.boards_table {
  tr:hover {
    cursor: pointer;
  }
}

.boards__linkBox {
  a {
    margin: 0 8px;
  }
}

.boards__searchForm {
  display: inline-block;
}

.boards__select {
  display: inline-block;
  width: auto;
}
